In [ ]:
# pip install pyspark
# pip install findspark 
# pip show pyspark

In [2]:
#import findspark
#findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("lab").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 09:18:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
from pyspark.sql.functions import col,column,expr,lit
from pyspark.sql import Row 
from pyspark.sql.types import StructType,StructField,StringType,LongType

In [ ]:
# To Spark (in Python or R), there is no such thing as a Dataset. Everything is a DataFrame 
spark.range(2)

In [ ]:
spark.range(2).collect()

In [ ]:
df = spark.read \
        .format("json") \
        .load("/Applications/MAMP/htdocs/Spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json")

In [ ]:
df

In [ ]:
df.schema

In [ ]:
df.printSchema()

In [ ]:
listOfRowObjects = df.collect()

In [ ]:
type(listOfRowObjects)

In [ ]:
len(listOfRowObjects)

In [ ]:
type(listOfRowObjects[0])

In [ ]:
df = spark.createDataFrame([(1, (2,2))], ["a", "b"])
df.show()
df.printSchema(1)
df.printSchema(2)

In [ ]:
df

In [ ]:
df.schema

In [ ]:
from pyspark.sql.functions import col,column,expr

In [ ]:
df.a

In [ ]:
df['a']

In [ ]:
df.select(df.a).show()

In [ ]:
df.select(df['a']).show()

In [ ]:
df.select(col('a')).show()

In [ ]:
# An expression created via the `expr` function is just a DataFrame column reference
# In the simplest case, expr("someCol") is equivalent to col("someCol")
expr('a')

In [ ]:
# All the below are same! 
print(expr('a - 5'))
print(col('a') - 5)
print(expr('a') -5)

In [ ]:
df.columns

### Records and Rows

In [ ]:
df.first()

### Creating Rows

In [ ]:
from pyspark.sql import Row 
myRow = Row("Hello", None, 1, False)

In [ ]:
myRow

In [ ]:
df.createOrReplaceTempView("dfTable")

In [ ]:
spark.sql("select * from dfTable").show(10)

### Creating DataFrames

In [ ]:
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType,LongType
myManualSchema = StructType([
    StructField('first_name', StringType(), True),
    StructField('last_name', StringType(), True),
    StructField('age', LongType(), True)
])

alice = Row("Alice", "Henderson", 25)
bob = Row("Bob", "Sanders", 28)
spark.createDataFrame([alice, bob], myManualSchema).show()

In [ ]:
# pip install sparksql-magic
# Load the extension
%load_ext sparksql_magic

In [ ]:
%%sparksql
select * from dfTable limit 250

### select and selectExpr

In [ ]:
df.select('DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME').show(2, False)

In [ ]:
from pyspark.sql.functions import expr, col, column
df.select(
    expr('DEST_COUNTRY_NAME'),
    col('DEST_COUNTRY_NAME'),
    column('DEST_COUNTRY_NAME')).show(2)

In [ ]:
df.select(col('DEST_COUNTRY_NAME'), 'DEST_COUNTRY_NAME')

In [ ]:
df.select(expr('DEST_COUNTRY_NAME as destination')).show(2)

In [ ]:
df.select(expr('DEST_COUNTRY_NAME as destination').alias('alias_destination')).show(2)

In [ ]:
df.selectExpr('DEST_COUNTRY_NAME as destination', 'DEST_COUNTRY_NAME').show(2)

In [ ]:
df.selectExpr('*', '(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withInCountry').show(10)

In [ ]:
# Aggregation over the entire DataFrame
df.selectExpr('avg(count)','count(distinct(DEST_COUNTRY_NAME))').show(2)

### Converting to Spark Types (Literals)

In [ ]:
from pyspark.sql.functions import lit
df.select('*',lit(1).alias('one')).show(2)

In [ ]:
df.select(expr('*'),lit(1).alias('one')).show(2)

### Adding Columns

In [ ]:
df.withColumn('one', lit(1)).show(2)

In [ ]:
# Another way to add a column!
df.withColumn('withInCountry', expr('DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME')).show(2)

In [ ]:
# Another way to rename a column!
df.withColumn('destination',expr('DEST_COUNTRY_NAME')).show(2)

In [ ]:
df.withColumnRenamed('DEST_COUNTRY_NAME','destination').columns

In [ ]:
dfWithLongColName = df.withColumn('Col Name With Space',expr('DEST_COUNTRY_NAME'))

In [ ]:
dfWithLongColName.show(2)

In [ ]:
dfWithLongColName.selectExpr('`Col Name With Space`', '`Col Name With Space` as `new col`').show(2)

In [ ]:
dfWithLongColName.select(col('Col Name With Space')).show(2)

In [ ]:
# We need to escape expressions that use reserved characters/keywords
dfWithLongColName.select(expr('`Col Name With Space`')).show(2)

In [ ]:
df.printSchema

In [ ]:
df.withColumn('count2', col('count').cast('int')).printSchema

In [ ]:
# df.filter(col('count') < 2).show(2)
# df.filter(expr('count') < 2).show(2)
df.filter(expr('count < 2')).show(2)

In [ ]:
df.where('count < 2').show(2)

In [ ]:
df.where(col('count') < 2).show(2)

In [ ]:
df.where(col('count') < 2)\
    .where("ORIGIN_COUNTRY_NAME != 'Croatia'")\
    .show(2)

In [ ]:
df.where(col('count') < 2).where(col('ORIGIN_COUNTRY_NAME') != 'Croatia').show(2)

In [ ]:
df.select('DEST_COUNTRY_NAME','ORIGIN_COUNTRY_NAME').distinct().count()

In [ ]:
df.select('ORIGIN_COUNTRY_NAME').distinct().count()

### Random Samples

In [ ]:
# sampling without replacement, in which a subset of the observations is selected randomly, and once an observation is selected it cannot be selected again. 
# sampling with replacement, in which a subset of observations are selected randomly, and an observation may be selected more than once.
df.sample(False,.9).count()

### Concatenating and Appending Rows (Union)

In [ ]:
from pyspark.sql import Row

lastRow = Row('New Country', 'New Country', 1)
newDF = spark.createDataFrame([lastRow], df.schema)
df.union(newDF).where('DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME').show(300)

### Sorting Rows

In [ ]:
df.sort('count').show(5)

In [ ]:
df.orderBy('count','DEST_COUNTRY_NAME').show(5)

In [ ]:
df.orderBy(col('count'), col('DEST_COUNTRY_NAME')).show(5)

In [ ]:
df.orderBy(expr('count desc')).show(5)

In [ ]:
df.orderBy(col('count').desc(), col('DEST_COUNTRY_NAME').asc()).show(5)

In [ ]:
# For optimization purposes, it's sometimes advisable to sort within each partition before
# another set of transformations
spark.read \
        .format("json") \
        .load("/Applications/MAMP/htdocs/Spark-The-Definitive-Guide/data/flight-data/json/*-summary.json")\
        .sortWithinPartitions('count')

### Repartition & Coalesce
#### https://mrpowers.medium.com/managing-spark-partitions-with-coalesce-and-repartition-4050c57ad5c4

In [ ]:
df.rdd.getNumPartitions()

In [ ]:
df.repartition(5)

In [ ]:
rangeDF=spark.range(10)

In [ ]:
rangeDF.rdd.getNumPartitions()

In [ ]:
rangeDF.write.csv('/Users/deepakagrawal/Desktop/data', 'overwrite')

In [ ]:
increasedPartitionedDF=rangeDF.repartition(6)

In [ ]:
increasedPartitionedDF.write.csv('/Users/deepakagrawal/Desktop/data', 'overwrite')

## Chapter 6

In [4]:

df = spark.read.format('csv') \
          .option('header', 'true') \
          .option('inferSchema','true') \
          .load("/Applications/MAMP/htdocs/Spark-The-Definitive-Guide/data/retail-data/by-day/2010-12-01.csv")

In [5]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [6]:
df.createOrReplaceTempView('dfTable')

In [8]:
df.show(10, False)

+---------+---------+-----------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+-----------------------------------+--------+-------------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |2010-12-01 08:26:00|2.55     |17850.0   |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN                |6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |2010-12-01 08:26:00|2.75     |17850.0   |United Kingdom|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
|536365   |22752    |SET 7 BABUSHKA NESTING BOXES       |2       |2010-12-01 08:26:00|7.65     |17850.0   |United Kingdom|
|536365   |21730    |GLASS STAR FROSTED T-LIGHT HOLDER  |6       |2010-12-01 08:26:00|4.25     |17850.0   |United Kingdom|
|536366   |22633    |HAND WARMER UNION JACK             |6       |2010-12-01 08:28:00|1.85     |17850.0   |United Kingdom|
|536366   |22632    |HAND WARMER RED POLKA DOT          |6       |2010-12-01 08:28:00|1.85     |17850.0   |United Kingdom|
|536367   |84879    |ASSORTED COLOUR BIRD ORNAMENT      |32      |2010-12-01 08:34:00|1.69     |13047.0   |United Kingdom|
+---------+---------+-----------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

In [20]:
df.select(lit(5), lit("five"), lit(5.0)).printSchema()

root
 |-- 5: integer (nullable = false)
 |-- five: string (nullable = false)
 |-- 5.0: double (nullable = false)

In [30]:
df.select(lit(5), lit("five"), lit(5.0)).show(10)

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+
only showing top 10 rows

In [25]:
lit('first_name')

Column<'first_name'>

In [26]:
col('first_name')

Column<'first_name'>

In [27]:
column('first_name')

Column<'first_name'>

In [28]:
expr('first_name')

Column<'first_name'>