In [ ]:
# pip install pyspark
# pip install findspark 
# pip show pyspark

In [1]:
#import findspark
#findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("lab").getOrCreate()

24/05/04 16:06:09 WARN Utils: Your hostname, Deepaks-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.17.209.32 instead (on interface en0)
24/05/04 16:06:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/04 16:06:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/04 16:06:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/05/04 16:06:12 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [ ]:
# To Spark (in Python or R), there is no such thing as a Dataset. Everything is a DataFrame 
spark.range(2)

In [ ]:
spark.range(2).collect()

In [49]:
df = spark.read \
        .format("json") \
        .load("/Applications/MAMP/htdocs/Spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json")

In [ ]:
df

In [ ]:
df.schema

In [ ]:
df.printSchema()

In [ ]:
listOfRowObjects = df.collect()

In [ ]:
type(listOfRowObjects)

In [ ]:
len(listOfRowObjects)

In [ ]:
type(listOfRowObjects[0])

In [3]:
df = spark.createDataFrame([(1, (2,2))], ["a", "b"])
df.show()
df.printSchema(1)
df.printSchema(2)

+---+------+
|  a|     b|
+---+------+
|  1|{2, 2}|
+---+------+

root
 |-- a: long (nullable = true)
 |-- b: struct (nullable = true)

root
 |-- a: long (nullable = true)
 |-- b: struct (nullable = true)
 |    |-- _1: long (nullable = true)
 |    |-- _2: long (nullable = true)

In [6]:
df

DataFrame[a: bigint, b: struct<_1:bigint,_2:bigint>]

In [4]:
df.schema

StructType([StructField('a', LongType(), True), StructField('b', StructType([StructField('_1', LongType(), True), StructField('_2', LongType(), True)]), True)])

In [36]:
from pyspark.sql.functions import col,column,expr

In [25]:
df.a

Column<'a'>

In [26]:
df['a']

Column<'a'>

In [32]:
df.select(df.a).show()

+---+
|  a|
+---+
|  1|
+---+

In [33]:
df.select(df['a']).show()

+---+
|  a|
+---+
|  1|
+---+

In [34]:
df.select(col('a')).show()

+---+
|  a|
+---+
|  1|
+---+

In [38]:
# An expression created via the `expr` function is just a DataFrame column reference
# In the simplest case, expr("someCol") is equivalent to col("someCol")
expr('a')

Column<'a'>

In [48]:
# All the below are same! 
print(expr('a - 5'))
print(col('a') - 5)
print(expr('a') -5)

Column<'(a - 5)'>
Column<'(a - 5)'>
Column<'(a - 5)'>

In [53]:
df.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

### Records and Rows

In [54]:
df.first()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

### Creating Rows

In [55]:
from pyspark.sql import Row 
myRow = Row("Hello", None, 1, False)

In [56]:
myRow

In [57]:
df.createOrReplaceTempView("dfTable")

In [59]:
spark.sql("select * from dfTable").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

### Creating DataFrames

In [66]:
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType,LongType
myManualSchema = StructType([
    StructField('first_name', StringType(), True),
    StructField('last_name', StringType(), True),
    StructField('age', LongType(), True)
])

alice = Row("Alice", "Henderson", 25)
bob = Row("Bob", "Sanders", 28)
spark.createDataFrame([alice, bob], myManualSchema).show()

+----------+---------+---+
|first_name|last_name|age|
+----------+---------+---+
|     Alice|Henderson| 25|
|       Bob|  Sanders| 28|
+----------+---------+---+